{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid" style="width: 100%">
        <table style="width:100%" class="text-center">
            <tr style="margin-bottom: 30px">
                <th>Image produit</th>
                <th>Libelle</th> 
                <th>Prix</th>
                <th>quantité</th>
                <th>supprimer</th>
            </tr>
            {% for item in panier %}
                {#<div class="produitln" onclick="redirect({{ item.produit.id }})">
                    <div class="row">
                        <div class="col-3" id="ln">
                            <img id="imageList" style="margin-left: 20px" src="{{ asset('Images'~item.produit.image~'.jpg') }}" alt="{{ item.produit.libelle }}">
                        </div>
                        <div class="col-3" id="ln">
                            <div class="text-center" id="ln" style="height: 200px;line-height: 200px;font-size: 25px">
                                {{ item.produit.libelle }}
                            </div>
                        </div>
                        <div class="col-2" id="ln">
                            <div class="text-center" id="ln" style="height: 200px;line-height: 200px;font-size: 25px">
                                {{ item.produit.prix }} € TTC
                            </div>  
                        </div>
                        <div class="col-2" id="ln">
                            <div class="text-center" style="height: 200px;font-size: 25px; margin-top: 100px">
                                <h5>Quantité :</h5>
                                <a href="/retirerPanier/{{ item.produit.id }}" target="_parent"><button class="button button2">+</button></a>
                                100
                                <a href="/retirerPanier/{{ item.produit.id }}" target="_parent"><button class="button button2">-</button></a>
                            </div>
                        </div>
                        <div class="col-2" id="ln">
                            <div class="text-center" style="height: 200px;font-size: 25px; margin-top: 100px">
                                <a href="/retirerPanier/{{ item.produit.id }}" target="_parent"><button class="button button2">Supprimer</button></a>
                            </div>
                        </div>
                    </div>#}

                {#<div class="2">
                    <div class="" style="height: 200px;line-height: 200px;font-size: 25px">
                        {{ item.quantite }} 
                    </div>
                </div>
            </div>#}

                <tr onclick="redirect({{ item.produit.id }})" class="produitln">
                    <td id="imageList">
                        <img id="imageList" src="{{ asset('Images'~item.produit.image~'.jpg') }}" alt="{{ item.produit.libelle }}">
                    </td>
                    <td>{{ item.produit.libelle }}</td> 
                    <td>{{ item.produit.prix }} € TTC</td>
                    <td>
                        <a href="/addQuantitePanier/{{ item }}" target="_parent"><button class="button button2">+</button></a>
                        {{ item.quantite }}
                        <a href="/remQuantitePanier/{{ item }}" target="_parent"><button class="button button2">-</button></a>
                    </td>
                    <td><a href="/retirerPanier/{{ item.produit.id }}" target="_parent"><button class="button button2">Supprimer</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if panier != null %}
        <div class="text-center">
            <a href="/buy" target="_parent"><button class="button button2">Commander</button></a>
        </div>
    {% else %}
        <div id="inner">
            <h4>Le panier est vide</h4>            
        </div>
    {% endif %}
    <script type="text/javascript">
        function redirect(id) {
            window.location = "/produit/" + id;
        }
    </script>
{% endblock body %}

