{% extends "base.html.twig" %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                {% for prod in produits %}
                    <div class="row produitln" onclick="redirect({{ prod.id }})">
                        <div class="col-6">
                            <img  id="imageList" src="{{ asset('Images'~prod.image~'.jpg') }}" alt="{{ prod.libelle }}">
                        </div>
                        <div class="col-6">
                            <div class="" style="height: 200px;line-height: 200px;font-size: 25px">
                                {{ prod.libelle }}
                            </div>
                        </div>
                        {#<div class="col-3">
                            <div class="" style="height: 200px;line-height: 200px;font-size: 25px">
                                {{ prod.prix }} €
                            </div>
                        </div>#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function redirect(id) {
            window.location = "/produit/" + id;
        }
    </script>

{% endblock body %}