{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid" style="width: 100%">
        <div id='inner' class="text-center">
            <div id='ln' style="margin-bottom: 30px">
                <h2>{{ prod.libelle }}</h2>
            </div>
            <div>
                <figure id="inner" class="zoom" onmousemove="zoom(event)" style="background-image:url({{ asset('Images/'~prod.image~'.jpg') }})" >
                    <img src="{{ asset('Images/'~prod.image~'.jpg') }}" alt="{{ prod.libelle }}"/>                    
                </figure>
            </div>
            <div id='ln'>
                {{ prod.description }}
            </div>
            <div id='ln'>
                <h3>{{ prod.prix }}€ TTC </h3>
            </div>
        </div>
        <div class="text-center" style='margin-top: 40px'>
            <a href="/add/{{ prod.id }}" target="_parent"><button class="button button2">Ajouter au panier</button></a>
        </div>
    </div>
    <script type="text/javascript">
        function zoom(e) {
            var zoomer = e.currentTarget;
            e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX;
            e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX;

            x = offsetX / zoomer.offsetWidth * 100;
            y = offsetY / zoomer.offsetHeight * 100;
            
            zoomer.style.backgroundPosition = x + '% ' + y + '%';
        }
    </script>
{% endblock body %}
