{# empty Twig template #}
{% extends "base.html.twig" %}
{%block body %}
    <div class="container-fluid">
        <div id ="inner" style="margin-top:30px;margin-bottom: 20px">
            <div class="col-12"><h3>Bonjour et bienvenue sur le site de l'artiste peintre Sylvie Delettre</h3></div>
        </div>
        <div class="row">
            <div class="col-12">
                <img id="inner" style="height: 450px" src="{{ asset('Images/sd.jpg') }}">
            </div>
            <div class="col-3"></div>
            <div class="col-6" style="margin-top: 30px">
                Après une formation initiale à l'Ecole des Beaux Arts de Perpignan, mon parcours m'a permis d'aborder différentes techniques.

                <br>Aujourd'hui le pastel sec concentre une grande partie de mon intérêt, par les rendus et les effets que je peux développer. 

                <br>A partir de l'onglet VENTE, il vous est possible d'en acquèrir certains.
            </div>
            <div class="col-3"></div>

        </div>
    </div>

{% endblock body %}