{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid" style="width: 100%">
        <div id="inner" class="inner text-center">
            <div id="ln">
                Nombre d'utilisateurs : {{ nbUsers }}                    
            </div>
            <div id="ln">
                Nombre de Produits : {{ nbProduits }}
            </div>
            <div id="ln">
                Nombre de Commandes validées : {{ nbCommandes }}
            </div>
            <div id="ln">
                Chiffre d'affaire total : {{ CA }} €
            </div>
        </div>
    </div>

{% endblock body %}