{# empty Twig template #}
{% extends "base.html.twig" %}
{%block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">Si vous ne possedez pas de compte, <a href='/register'>cliquez ici</a> pour vous inscrire</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class='form-group row'>
                        <label class="col-form-label col-md-3" for="username">Code client :</label>
                        <input class="form-control col-md-9" type="text" id="username" name="_username" value="{{ last_username }}"/>
                    </div>

                    <div class='form-group row'>
                        <label class="col-form-label col-md-3" for="password">Mot de passe:</label>
                        <input class="form-control col-md-9" readonly type="password" id="password" onkeydown="return false" name="_password"/>
                    </div>
                    <button class="btn btn-primary" type="submit">login</button>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="col-md-6 offset-3">
                    {% for offs in table %}
                        <div>
                            {% for nb in offs %}
                                <button class="btn btn-dark" id="button{{nb}}" onclick="inputLogin('button{{nb}}')">{{ nb }}</button>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <script type='text/javascript'>
        function inputLogin(i) {
            document.getElementById('password').value = document.getElementById('password').value + document.getElementById(i).innerHTML;
        }
    </script>
{% endblock body %}