/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 déc. 2017, 16:46:04
    Author     : Aymerich
*/
$main-color: #303030;
$white:#fff;

@import '~bootstrap/scss/bootstrap';

body{
    background-color: $main-color;
    color:$white;
}

.produitln{
    cursor: pointer;
    margin-top: 15px;
}

.four{
    width:50px;
    height:50px;
    background:#232323;
}
.five{
    width:100px;
    height:100px;
    background:#353535;
}

.button2 {
    color: $white;
    background-color: #303030; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

#inner {
    display: table;
    margin: 0 auto;
}

#ln {
    margin-top: 30px;
}

figure.zoom {
    & img:hover {
        opacity: 0;
    }
    img {
        transition: opacity .5s;
        display: block;
        width: 100%;
    }
    background-position: 50% 50%;
    position: relative;
    width: 400px;
    overflow: hidden;
    cursor: zoom-in;
}

#imageList {
    width: 250px;
    height:250px;
}

#imageListCom{
    margin-top: 20px;
    margin-left: 20%;
    width: 150px;
    height:150px;
}