{# empty Twig template #}
{% extends "base.html.twig" %}
{% block body %}
    <div class='container'>
        <div class='row'>
            <div class=''></div>
        </div>
    </div>
{% endblock body %}