<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SDshop{% endblock %}</title>
        <link rel="stylesheet" href="{{asset("build/css/app.css")}}"/>
    {% block stylesheets %}{% endblock %}
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Accueil</a>

    <!-- Links -->
    <ul class="navbar-nav">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.getRole() != "ROLE_ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link" href="/produits">Produits</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/kek" id="navbardrop" data-toggle="dropdown">
                        Catégories
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/listProdCat/1">Acryliques</a>
                        <a class="dropdown-item" href="/listProdCat/2">Pastels secs</a>
                    </div>
                </li>
            {% endif%}
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/produits">Produits</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/kek" id="navbardrop" data-toggle="dropdown">
                    Catégories
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/listProdCat/1">Acryliques</a>
                    <a class="dropdown-item" href="/listProdCat/2">Pastels secs</a>
                </div>
            </li>
        {% endif%}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    M. {{ app.user.nom }}
                </a>
                <div class="dropdown-menu">
                    {#                    <a class="dropdown-item" href="#">Profil</a>#}
                    {% if app.user.getRole() != "ROLE_ADMIN" %}
                        <a class="dropdown-item" href="/lcom">Commandes</a>
                    {% endif %}
                    <a class="dropdown-item" href="/logout">Se déconnecter</a>
                    {% if app.user.getRole() == "ROLE_ADMIN" %}
                        <a class="dropdown-item" href="/administration">Administration</a>
                    {% endif%}
                </div>
            </li>
            {% if app.user.getRole() != "ROLE_ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link" href="/panier">Mon panier</a>
                </li>
            {% endif %}
            {% if app.user.getRole() == "ROLE_ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Panel Admin</a>
                </li>
            {% endif%}
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Se connecter</a>
            </li>
        {% endif %}
    </ul>
</nav>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{asset("build/js/app.js")}}"></script>
</body>
</html>
