{% extends "base.html.twig" %}

{% use "bootstrap_base_layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="col-4 offset-4">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{form_row(form.rue)}}
            {{form_row(form.cp)}}
            {{form_row(form.ville)}}
            {{ form_widget(form.save) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
