{% extends "base.html.twig" %}
{% block stylesheets %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
{% endblock stylesheets %}
{% block body %}
    <div class='container-fluid'>
        <div id='inner' class='text-center'>
            <div id='ln'>
                Commande N°{{ commande.id }}
            </div>    
            <div id='ln'>
                Adresse de livraison : <br>
                {{ commande.adresse.rue  }}<br>
                {{ commande.adresse.cp  }}
                {{ commande.adresse.ville }}
            </div>
            <div id='ln'>
                <div id="paypal-button"></div>
            </div>
        </div>
        <div style="margin-top: 30px; margin-bottom: 30px">
            <h5 class="text-center">Contenu de la commande : </h5>
        </div>
        <div>
            <table style="width:100%" class="text-center">
                <tr style="margin-bottom: 30px">
                    <th>Image produit</th>
                    <th>Libelle</th> 
                    <th>Prix</th>
                    <th>quantité</th>
                </tr>
                {% for item in produits %}
                    <tr onclick="redirect({{ item.produit.id }})" class="produitln">
                        <td id="imageList">
                            <img id="imageList" src="{{ asset('Images'~item.produit.image~'.jpg') }}" alt="{{ item.produit.libelle }}">
                        </td>
                        <td>{{ item.produit.libelle }}</td> 
                        <td>{{ item.produit.prix }} € TTC</td>
                        <td>{{ item.quantite }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        paypal.Button.render({
            env: 'sandbox', // Or 'sandbox',

            client: {
                sandbox: 'AX-S1iV8ZCGAlazKpyAVi8w3v-G66HrZurprvHx4b46CiEUwI1wx6VjbRgL5MEVChvIBlm2RLZsefwBW',
            },

            commit: true, // Show a 'Pay Now' button

            style: {
                color: 'gold',
                size: 'small'
            },

            payment: function (data, actions) {
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: {total: '{{ total }}', currency: 'EUR'}
                            }
                        ]
                    }
                });
            },

            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function (payment) {
                    swal("Paiement validé")
                            .then((value) => {
                                window.location = '/confirm/{{ commande.id }}';
                            });
                });
            },

            onCancel: function (data, actions) {
                window.location = "/buy";
            },

            onError: function (err) {
                /* 
                 * An error occurred during the transaction 
                 */
            }
        }, '#paypal-button');
    </script>
{% endblock body %}