{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid" style="width: 100%">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                {% for ligne in result %}
                    <div style="border-bottom: 3px solid darkgray">
                        <div id="inner" class="text-center">
                            <h5 id="ln">Commande numéro {{ ligne.Commande.id }}</h5>
                            <h5 id="ln">Status : {{ ligne.status }}</h5>
                        </div>
                        {% for ln in ligne.CommandesLignes %}
                            <div class="row produitln" onclick="redirect({{ ln.produit.id }})">
                                <div class="col-6">
                                    <img  id="imageListCom" src="{{ asset('Images'~ln.produit.image~'.jpg') }}" alt="{{ ln.produit.libelle }}">
                                </div>
                                <div class="col-4">
                                    <div class="" style="height: 200px;line-height: 200px;font-size: 25px">
                                        {{ ln.produit.libelle }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="" style="height: 200px;line-height: 200px;font-size: 25px">
                                        Quantité : {{ ln.quantite }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div id="inner" class="text-center" style="margin-bottom: 30px">
                            <h3 id="ln">Total : {{ ligne.total }}€ TTC</h3>
                        </div>
                        <div id="inner" class="text-center" style="margin-bottom: 30px">
                            <a href='/pdf/{{ ligne.Commande.id }}'><h3 id="ln">Générer en PDF</h3></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function redirect(id) {
            window.location = "/produit/" + id;
        }
    </script>
{% endblock body %}