{% extends "base.html.twig"%}
{% block body %}
    <div class="container-fluid">
        <div id="inner">
            <div id="ln">
                ID de commande :  {{ commande.id }}
            </div>
            <div id="ln">Votre commande à bien été validée, rendez-vous dans vos commande pour la retrouver.</div>
        </div>
        
    </div>
{% endblock body %}